.citizen-dropdown-container {
  position: relative;
}
.citizen-dropdown {
  top: 5.2rem !important;
  right: 0 !important;
  position: absolute;
  width: rem-calc(254);
  @include dropdown-shadow;
  .person-item__info {
    padding-left: 0;
  }
}
