/*------------------------------------*\
  $citizen-list
\*------------------------------------*/

.citizen-list_header {
  display:none;
  color: $grayDark;
  p {
    margin: 2rem 0 3rem 3rem;
  }
}

.citizen-list_footer {
  color: $grayDark;
  p {
    margin: 2rem 0 3rem 3rem;
  }
}

.citizen-item__header {
  padding:1rem;
  h5 {
    margin-top:0.5rem;
  }
  .user-avatar {
    float:left;
    margin-right:1rem;
    width:rem-calc(48px);
    height:rem-calc(48px);
    background-size: cover;
    border-radius:300px;
  }
}
.citizen-item__info {
  margin: -1rem 1rem 1rem 3rem;
  padding:1rem 1rem 1rem 2rem;
  background-color: lighten($grayLighter, 50%);
  border-radius: $brand-round;
  color: $grayDark;
  .media-object {
    margin-bottom: 0.6rem;
  }
  a {
    color: $grayDark;
    &:hover {
      color: $grayDark;
      text-decoration: underline;
    }
  }
  .icon {
    color: lighten($grayDark, 20%);
  }
}

@media print {
  .citizen-list_header {
    display: block;
  }
  .citizen-item {
    font-size: 0.5rem;
  }
  .user-avatar {
    display:none;
  }
  .citizen-item__header, .citizen-item__info {
    padding:0;
    margin:0;
    background:transparent;
    color:$black;
  }
  .citizen-item__info {
    a:after {
      content:"";
    }
    .media-object {
      margin-bottom: 0.2rem;
    }
  }
}