/*------------------------------------*\
  $config-tabs
\*------------------------------------*/

.config-tabs {
  position: absolute;
  top:0;
  .menu {
    margin: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding:0.6rem 1rem;
        color: $grayDark;
        &:hover {
          color: $accent-color;
        }
      }
      &.active {
        border-top:0.2rem solid $accent-color;
        a {
          color: $accent-color;
          background: transparent;
        }
      }
    }
  }
}

