/*------------------------------------*\
  $content-menu
\*------------------------------------*/

.content-menu {
  font-size: 0.9em;
  //display:none;
  .loaded & {
    display:block;
  }

  h3 {
    font-size: 1.2rem;
    padding:0.5rem 1rem;
    border-bottom:1px solid darken($gray,5);
  }
  ul {
    list-style: none;
  }
  a {
    color: $grayDark;
    span {
      float:right;
      text-align: right;
      flex-grow: 1;
    }
  }
  li {
    a {
        line-height: 1.4;
    }
    &.active {
      a {
        color:$accent-color;
        background:none;
        font-weight: bold;
      }
    }
  }

  .router-link-active {
    color: $accent-color !important;
    font-weight: bold;
  }

  //rewrite foundation
  ul.nested{
    background-color: lighten($gray,4);
    margin-left:0;
    padding-left:1.6rem;
    a {
      padding-left:0.2rem;
      span {
        padding-right: 0;
      }
    }
  }
  .is-accordion-submenu-parent > a {
    margin-left: 0.5rem;
    padding-left: 1.2rem;
  }
  .is-accordion-submenu-parent > a::after {
    border-color: $grayDark rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    right:auto;
    left:0;
  }
  li[aria-expanded="true"]{
    &>a{
      color:$black;
    }
  }
}


