/*------------------------------------*\
  $content-panel-notifications
\*------------------------------------*/

.notification {
  padding:0.8rem 0.3rem;
  font-size:0.8rem;
  background-color: $yellowLighter;
  border-bottom: 1px solid darken($yellowLighter, 30%);
  color:darken($yellowLighter, 60%);
  display:flex;
  flex-flow: row nowrap;
  .notification__icon {
    padding: 0.2rem 0.4rem;
  }
  a {
    color:darken($yellowLighter, 60%);
    text-decoration: underline;
    &:hover {
      color:darken($yellowLighter, 60%);
    }
  }
}
