/*------------------------------------*\
  $issue-detail
\*------------------------------------*/

$_margin-right-input: 8rem; // Magic Number: width of "icon + #id"

.content-panel__header {
  .title {
    flex: 1 0 0;
    .icon {
      display: inline-block;
      margin: 0 0.4em;
      font-size: 0.8em;
      color: $accent-color;
    }
    .action {
      display: inline-block;
      vertical-align: baseline;
      font-size: 0.8rem;
      &:hover {
        text-decoration: underline;
      }
    }
    .meta {
      padding-left: 2rem;
      font-size: 0.8rem;
      color:lighten($text-color,40%);
      .separator {
        color:lighten($text-color,60%);
      }
      a.animated {
        animation-duration: 0.3s;
      }
    }
    .editable {
      display: inline;
      width: calc(100% - #{$_margin-right-input});
      height: auto;
      margin:0;
      box-shadow: none;
      border:0;
      font-family: inherit;
      font-size: inherit;
      transition: all 0.3s ease;
      &:focus {
        background-color: $yellowLighter;
      }
      br {
        display: none;
      }
    }
  }
}

.content-menu__section--actions {
  .button {
    margin-bottom: 0;
  }
  .action--save {
    display: inline-block;
    margin-left: 0.5rem;
    margin-top: 0.6rem;
    font-size:0.8rem;
    text-decoration: underline;
    color:$grayDark;
  }
}

[class*="content-menu__section"] {
  .link {
    margin-bottom: 0;
    font-size: 0.8rem;
    text-align: right;
    a:hover {
      text-decoration: underline;
    }
  }
  &.disabled {
    position: relative;
    &:before {
      content:"";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($gray, 0.5);
      cursor: not-allowed;
    }
  }
}

.content-menu__section--group {
  .delete {
    position: relative;
    top: 0.4rem;
    left: -0.8rem;
  }
  .icon {
    display: inline-block;
    vertical-align: middle;
    padding: 0.2rem;
  }
  .add {
    margin-bottom: 0;
  }
}

.content-menu__section--reminder, .content-menu__section--pin {
  .button {
    position: relative;
    top: 0.1rem;
  }
}

.content-menu__section--person {
  .person-item__header {
    padding:0;
    h5 {
      font-size:1.1rem;
    }
    .user-avatar {
      float:none;
    }
  }
  .person-item__info {
    margin:0 !important;
    padding:0;
    background-color: transparent;
    font-size: 0.9rem;
  }
  .media-object-section {
    max-width: 100%;
    a {
    }
    .truncate {
    }
  }
}

.dropdown-pane {
  .media-object-section {
    a {
      &.email-link {
      }
    }
  }
}

.inline-link {
  position: relative;
  top:-0.4rem;
}

.content-menu__section--avatar {
  .action--attachment {
    label {
      display: inline-block;
      line-height: 1.2;
      width: 100%;
      height: 100%;
      color: $grayDark;
      cursor: pointer;
      &:hover {
        color:$accent-color;
      }
    }
  }
}

.issue-content {
  padding:1rem 1rem $over-chat-margin-bottom 1rem;
}

.issue-content--archived {
  padding-bottom:1rem;
}

feedback-label, .feedback-label {
  display:inline-block;
}

.inline-feedback {
  display: inline-block;
}

.inline-feedback__loader {
  display: inline-block;
  position: relative;
  bottom: 0.2rem;
  .loader-inner {
    display: inline-block;
    opacity: $opacity-over-gray;
    div {
      background-color: $grayDark;
    }
  }
}

.inline-feedback__checker {
  display: inline-block;
  font-size: 0.8rem;
  color: map_get($foundation-palette, "success");
}

.inline-feedback__error {
  display: inline-block;
  font-size: 0.8rem;
  color: map_get($foundation-palette, "alert");
}

.status-prority {
  margin-left:-0.5rem; // to avoid feedbak-inline break line
  margin-top: 0.6rem;
  .ss-flag {
    opacity:$opacity-over-gray;
  }
}
.small-label {
  display: inline-block;
  line-height: 1.6;
  max-width: 80%;
}


@media print {
  .content-panel__header .title .action,
  .content-panel__header .actions {
    display:none;
  }
}
