/*------------------------------------*\
  $issue-content
\*------------------------------------*/

.message__icon {
  @include iconLetters;
  margin-right:1rem;
}

.message--assigned {
  .title {
    font-size: 1.2rem !important;
    color: $accent-color;
  }
  .message__icon {
    background-color: transparent;
    div, i {
      color: $accent-color;
    }
  }
}

.u-map {
  width: auto !important;
  max-width: 100% !important;
  height: auto !important;
  border: 1px solid rgba($white,0.5) !important;
  &:hover {
    border: 1px solid rgba($accent-color,1) !important;
  }
}

.u-videowrapper {
  position: relative;
  margin-top: 1rem;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  @include breakpoint(large) {
    max-width: 50%;
    padding-bottom: 28.125%; /* 16:9 */
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.u-videolink {
  color: $grayDark;
}

.message__text {
  .title {
    margin-top:0.7rem;
    margin-bottom:0.2rem;
    font-size: 0.9rem;
    i {
      display: inline-block;
      margin-left: 0.4rem;
      font-size: 0.9rem;
      font-style: normal;
      color:$grayDark;
    }
  }
  .msg {
    color:$grayDark;
    font-size: 1.2rem;
    p {
      line-height: 1.3;
      margin-bottom: 0.5rem;
      white-space: pre-wrap;
    }
    img {
      margin: 0 0.4rem 0.4rem 0;
      height: 94px;
      width: 124px;
      border-radius: $brand-round;
      border: 4px solid rgba($white,0.5);
      transition: border-color 0.2s ease-out;
      &:hover {
        border: 3px solid rgba($accent-color,1);
      }
    }
    dl {
      font-size: 0.9rem;
    }
  }
  .msg--private {
    background-color: $yellowLighter;
    p {
      padding:0.2rem 0.4rem;
    }
  }
  .u-msgicon {
    display: inline-block;
    vertical-align: middle;
    width:3rem !important;
    height: 3rem !important;
    border: none !important;
    margin: 0.5rem 1rem 0.5rem 0.5rem !important;
    opacity:0.5;
  }
  .msg--survey {
    margin-top: 0.8rem;
    padding:0.6rem;
    background-color: $grayLighter;
    .satisfaction {
      font-size: 1.1rem;
      white-space: normal !important;
      .icon {
        position: relative;
        top: -0.1rem;
        display: inline-block;
        vertical-align: middle;
        font-size: 1.8rem;
      }
    }
  }
  .file-list {
    display:flex;
    flex-flow: row wrap;
    padding:0.5rem;
    &:before {
      content:"";
      width: 100%;
      order:0;
    }
  }
  .flex-list__item {
    align-self: center;
  }
}

.icon-tick, .icon-doubletick {
  display: inline-block;
  margin-left:0.5rem;
}

.icon-tick {
  color: $grayDark;
}

.icon-doubletick {
  color: $grayDark;
}

.icon-doubletick--read {
  color: $accent-color;
}

.hr {
  text-align: center;
  margin: 0  0 2rem 0;
  border-bottom: 1px solid darken($gray, 10%);
  span {
    display: inline-block;
    position: relative;
    top: 0.6rem;
    padding: 0 0.8rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    background: $white;
    color: $grayDark;
  }
}

@media print {
  .issue-content {
    padding-bottom:1rem;
  }
}
