/*------------------------------------*\
  $person-list
\*------------------------------------*/

.person-list_header {
  display:none;
  color: $grayDark;
  p {
    margin: 2rem 0 3rem 3rem;
  }
}

.person-list_footer {
  color: $grayDark;
  p {
    margin: 1rem 0 1rem 3rem;
  }
}

.person-item__header {
  padding:1rem;
  h5 {
    margin-top:0.5rem;
  }
  .user-avatar {
    float:left;
    margin-right:1rem;
    width:rem-calc(48px);
    height:rem-calc(48px);
    background-size: cover;
    border-radius:300px;
  }
}
.person-item__info {
  margin: -1rem 1rem 1rem 3rem;
  padding:1rem 1rem 1rem 2rem;
  background-color: lighten($grayLighter, 50%);
  border-radius: $brand-round;
  color: $grayDark;
  .media-object {
    margin-bottom: 0.6rem;
  }
  a {
    color: $grayDark;
    &:hover {
      color: $grayDark;
      text-decoration: underline;
    }
    &.more {
      color: $link-color;
      max-width: 100%;
    }
  }
  .icon {
    color: lighten($grayDark, 20%);
  }
  .link {
    font-size: 0.8rem;
    color:$accent-color;
    text-decoration: underline;
  }
}

.dropdown-pane {
  .person-item__header {
    padding-top:0;
    padding-left:0;
    padding-right:0;
  }
  .person-item__info {
    margin:2rem 0 0.1rem 0;
    padding:0 0 0 1rem;
  }
}

.badge--label {
  position: relative;
  top: -0.2rem;
  cursor: help;
  border-radius: 3px;
  &.secondary {
    background: $grayLighter;
    color: $text-color;
  }
}

@media print {
  .person-list_header {
    display: block;
  }
  .person-item {
    font-size: 0.5rem;
  }
  .user-avatar {
    display:none;
  }
  .person-item__header, .person-item__info {
    padding:0;
    margin:0;
    background:transparent;
    color:$black;
  }
  .person-item__info {
    a:after {
      content:"";
    }
    .media-object {
      margin-bottom: 0.2rem;
    }
  }
}
