/*------------------------------------*\
  $publication-list
\*------------------------------------*/

$msg-padding: 0.6rem;
$margin-responses: 5rem;

.search-advanced {
  padding: 0 $gutter;
  .input-group-button {
    .icon {
      position: relative;
      top: 0.4rem;
    }
  }
}

.publication-list {
  margin: 0 $gutter;

  & + hr {
    margin: 0 $margin-responses;
  }
}

.publication-msg {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.publication-msg__icon {
  @include iconLetters;
  margin-right:1rem;
}

.publication-msg__text {
  .title {
    margin-top:0.7rem;
    margin-bottom:0.2rem;
    i {
      display: inline-block;
      margin-left: 0.4rem;
      font-size: 0.9rem;
      font-style: normal;
      color:$grayDark;
    }
    .mark-as-spam {
      display:none;
      font-size: 0.8rem;
    }
    .marked-as-spam {
      display:inline;
      font-size: 0.8rem;
      color:$alert-color;
      .icon {
        color:$alert-color;
      }
    }
    &:hover {
      .mark-as-spam {
        display:inline;
      }
    }
  }
  .msg {
    color:$grayDark;
    p {
      margin-bottom: 0.5rem;
    }
    img {
      display: inline-block;
      margin: 0 0.4rem 0.4rem 0;
      height: 94px;
      width: 124px;
      border-radius: $brand-round;
      border: 4px solid rgba($white,0.5);
      transition: border-color 0.2s ease-out;
      &:hover {
        border: 3px solid rgba($accent-color,1);
      }
    }
    .first-image {
      width: 100% !important;
      height: auto !important;
    }
  }
  .msg--private {
    background-color: $yellowLighter;
    p {
      padding:0.2rem 0.4rem;
    }
  }
  .meta {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: $grayDark;
    text-transform: uppercase;
  }
}

.msg--video {
  position: relative;
  margin: 1rem 0;

  .publication-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.url-msg {
  border: 1px solid rgba($grayDark,0.3);
  margin: 1rem 0;
  cursor:pointer;
}

.url-msg__image {
  margin:0 0 0.4rem 0;
  img {
    width: 100% !important;
    height: auto !important;
    border:none !important;
    border-radius: 0 !important;
  }
}

.url-msg__title {
  padding: 0 $msg-padding 0;
  font-weight: bold;
  font-size: 1rem;
  color: $text-color;
}

.url-msg__description {
  padding: 0 $msg-padding 0;
  font-size: 0.9rem;
}

.url-msg__meta {
  padding: $msg-padding;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.survey-msg {
  border: 1px solid rgba($grayDark,0.3);
  margin: 1rem 0;
  .choose {
    display: inline-block;
    margin: $msg-padding $msg-padding 1rem $msg-padding;
    font-size: 0.9rem;
  }
}

.survey-msg__survey {
  margin:$msg-padding;
}

.survey-msg__title {
  padding: 0 $msg-padding 0;
  font-weight: bold;
  font-size: 1rem;
  color: $text-color;
}

.survey-msg__description {
  padding: 0 $msg-padding 0;
  font-size: 0.9rem;
}

.survey-msg__meta {
  padding: $msg-padding;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.survey-option {
  font-size: 0.9rem;
  cursor:pointer;
  .icon {
    display: none;
    color:$accent-color;
  }
  &:hover, &.active {
    color:$text-color;
    .icon {
      display: inline;
    }
  }
}

.publication-wrapper {
  max-width: rem($max-width-publications);
}

.publication-list--responses {
  margin-left: $margin-responses;
  margin-bottom: $over-chat-margin-bottom;

  .publication-msg {
    margin-bottom: 1rem;
  }

  h5 {
    margin: 1rem 0;
    text-transform: uppercase;
  }

}



